@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Giz';
    src: url('fonts/GIZGravurTT-Cond.ttf');
  }

  @font-face {
    font-family: 'Giz-bold';
    src: url('fonts/GIZGravurTT-CondBold.ttf');
  }
}